.product-detail-header {
  display: flex;
  align-items: center;
}
.product-detail-header h1 {
  flex-grow: 1;
}
.product-detail-header .image {
  width: 4.5rem;
  margin-right: 1rem;
}
.product-detail-header button {
  color: #1b1b1b;
  border-radius: 30px;
  float: right;
  font-weight: normal;
  font-size: 16px;
  margin: 0.5em;
  border: solid 2px #c7d426;
  background-color: #c7d426;
  height: 3rem;
  line-height: 2.7rem;
  padding: 0 2rem;
  cursor: pointer;
  min-width: 150px;
}
.product-detail-header button.outlined {
  background-color: white;
}
