.product-detail-header {
  display: flex;
  align-items: center;
}
.product-detail-header h1 {
  flex-grow: 1;
  display: flex;
}
.product-detail-header .image {
  width: 4.5rem;
  margin-right: 1rem;
}
.product-detail-header button,
.product-detail-header a.button {
  color: #1b1b1b;
  border-radius: 30px;
  float: right;
  font-weight: normal;
  font-size: 16px;
  margin: 0.5em;
  border: solid 2px #c7d426;
  background-color: #c7d426;
  height: 3rem;
  line-height: 2.7rem;
  padding: 0 2rem;
  cursor: pointer;
  min-width: 150px;
}
.product-detail-header a.button {
  text-decoration: none;
  box-sizing: border-box;
}
.product-detail-header button.outlined {
  background-color: white;
}
.product-download,
.product-install,
.product-install-open-market {
  background-color: #f7f7f7;
  padding: 1em 0;
  line-height: 1.75;
  position: absolute;
  width: 100%;
  box-shadow: 0 3px 2px 0 #e3e3e3;
}

.section-enter {
  opacity: 0;
}
.section-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.section-exit {
  opacity: 1;
}
.section-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
