.types {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.types .type {
  padding: 0.2em 1em;
  margin: 0.5em;
  border-radius: 2em;
  border: solid 2px;
  cursor: pointer;
  border-color: hsl(0, 0%, 79%);
  height: 28px;
}
.types .type i {
  margin-right: 0.3rem;
}
.types .type.selected {
  font-weight: 700;
  color: white;
}
.types .selected[data-filter=''] {
  color: #1b1b1b;
}
.types .selected[data-filter=''] .si {
  color: #1b1b1b;
  background-color: #1b1b1b;
}
.types .type:hover:not(.selected) {
  background-color: hsl(0, 0%, 95%);
}
.types .type[data-filter='connector'] {
  border-color: hsl(65, 65%, 50%);
}
.types .selected[data-filter='connector'] {
  background-color: hsl(65, 65%, 50%);
}
.types [data-filter='connector']:hover:not(.selected) {
  background-color: hsl(65, 65%, 95%);
}
.types .type[data-filter='process'] {
  border-color: hsl(46, 100%, 58%);
}
.types .selected[data-filter='process'] {
  background-color: hsl(46, 100%, 58%);
}
.types [data-filter='process']:hover:not(.selected) {
  background-color: hsl(46, 100%, 95%);
}
.types .type[data-filter='solution'] {
  border-color: hsl(164, 59%, 40%);
}
.types .selected[data-filter='solution'] {
  background-color: hsl(164, 59%, 40%);
}
.types [data-filter='solution']:hover:not(.selected) {
  background-color: hsl(164, 59%, 95%);
}
.types .type[data-filter='util'] {
  border-color: hsl(192, 63%, 56%);
}
.types .selected[data-filter='util'] {
  background-color: hsl(192, 63%, 56%);
}
.types [data-filter='util']:hover:not(.selected) {
  background-color: hsl(192, 63%, 95%);
}
.types .selected .si {
  background-color: white;
}
